
 
.contact-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media (min-width: 768px) {
  .contact-grid {
    grid-template-columns: 1fr 1fr;
  }
}

.contact-grid h2 {
  font-size: 1.5rem;
  color: #000000;
  margin-bottom: 10px;
}

.contact-grid p {
  color: #4b5563;
}

.contact-grid label {
  display: block;
  color: #4b5563;
  margin-bottom: 5px;
}

.contact-grid input,
.contact-grid textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #d1d5db;
  border-radius: 5px;
  margin-bottom: 10px;
}

.contact-grid textarea {
  resize: vertical;
  min-height: 100px;
}

.contact-grid .btn {
  background-color: #5bd1de;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-grid .btn:hover {
  background-color: #3c96fd;
}

.text-rotate {
  display: inline-flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  position: relative;
  vertical-align: middle;
}

.text-rotate-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.text-rotate-word {
  display: inline-flex;
}

.text-rotate-element {
  display: inline-block;
}

.text-rotate-space {
  white-space: pre;
}

.rotate-blue {
  animation: rotateBackground 2s infinite;
  transition: background-color 0.3s ease, transform 0.3s ease;  
}

.rotate-blue:hover {  
  transform: scale(1.05);  
}
